Django==5.2.14
django-unfold==0.91.0
djangorestframework==3.15.2
django-cors-headers==4.9.0
django-select2==8.4.8
django-appconf==1.2.0

python-decouple==3.8
requests==2.31.0
python-dateutil==2.8.2
openpyxl==3.1.5

Pillow==10.4.0
qrcode[pil]==7.4
reportlab==4.0.0
freetype-py==2.3.0
pycairo==1.29.0
rlPyCairo==0.4.0

psycopg2-binary==2.9.9
gunicorn==21.2.0
whitenoise==6.6.0
